body, div, img{
    font-family: "Roboto Condensed", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

div{
    border: 3px solid sandybrown;
}
header{
    width:100%;
    display: flex;
    justify-content: center;
}


.header-left-side{
    width: 50%;
    /*flex-grow: 1;*/
    background-color: #015761;
}
.header-right-side{
    width: 50%;
    margin: 0;
    padding: 0;
    /*flex-grow: 1;*/
    background: #015761 url("img/IMG_4460.JPG") no-repeat 50% 50%;
    background-size: cover;


}
.btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 4px solid #3b98cf;
    color:white;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 20px;

}

.main-navigation{
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.logo{
    color: #f0d850;
    font-size: 60px;
    text-wrap: normal;
    padding-left: 15px;
    text-align: center;
}

.intro-text-hi{
    color: #f0d850;
    font-size: 60px;
    text-wrap: normal;
    padding-left:300px;
    padding-top: 150px;
}
.intro-text-main{
    color: white;
    font-size: 55px;
    text-wrap: normal;
    padding-left:150px;

}

.sidenav {
    height: 250px; /* Full-height: remove this if you want "auto" height */
    width: 80px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 40%; /* Stay at the top */
    right: 0;
    background-color: #f0d850 ; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
    padding-left: 5px;
}

/* The navigation menu links */
.sidenav a {
    margin: 2px 3px 2px 3px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;

}

.social-btn{
    position: relative;
   color: transparent;
    background: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;

}
.social-btn> img{
    position: relative;
     width: 40px;
     height: 40px;
     margin: 15px ;
    z-index: 5;


 }
.social-btn::after{
   content: "";
    z-index: 2;
    width: 40px;
    height: 30px;
    top: 50px;
    left: 15px;
    position: absolute;
    background: url("img/bear-icon.png") no-repeat;
    background-size: cover;
}
.main-container{
    width: 100%;
    height: 1000px;
    background: brown url("img/IMG_4391.JPG") no-repeat ;
    background-size: cover;
    opacity: 0.7;
}
.main-photo-description{
    display: block;
    color: black;
    font-size: 45px;
    padding: 100px 0 40px 15px;
    margin: 0;
}
.hidden{
    display: none;


}
.people-expressions{
    background-color: #015761;
    display: flex;
}
.expressions{
    position: relative;
    width: 50%;
    padding: 15px ;
    color: white;
    border-right: 1px solid black;
}
.signature{
    position: absolute;
    top: 50%;
    right: 10px;
}

.signature::before{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: violet;
    left: -55px;
    top: -25px;
}
.signature--mundo::before{
    background: brown url("img/mundo.jpg") no-repeat;
    background-size: cover;
}
.signature--stethem::before{
    background: brown url("img/stethem.jpg") no-repeat 50% 50%;
    background-size: cover;
}
.place-of-residence{
    display: flex;
   height:550px;

}
.place-of-residence__description{
    width: 30%;

}

.place-of-residence__photo{
    width: 65%;
    background: brown url("img/sevas-bor.jpg") no-repeat 50% 50%;
    background-size: cover;
}
.place-of-residence__description__text{
    font-size: 40px;
    padding: 0 15px 10px 10px;

}